<% provide(:title, 'About Us') %>
<h1>About Me</h1>
<h3>
  This Application is for the Demo/Sample Purpose. Business Logic is not the Priority for this application.
</h3>

<p>
For More Information Please Contact <%= link_to "Dharin Rajgor", "http://in.linkedin.com/in/dharinrajgor/" %> at skype: <i>dharinrajgor</i> || email: <%= mail_to "dharin.rajgor@gmail.com" %> 

</p>


